// Colores
amarillo				= #faa61a
aqua 						= #6ac1c4
borde-gris			= #d5d9dc
borde-celeste		= #0ae0d9
blanco 					= #ffffff
casi-blanco 		= #f4f7f9
casi-negro  		= #333333
fondo-morado 		= #1c2650
fondo-shape 		= #000050
gris 						= #717982
gris-fondo 			= #eeeeee
texto-morado 		= #1e284c 
texto-morado-2 	= #000063
uva 						= #776c87
morado 					= #2b1640

// General
*
	outline none

// Fonts 		HN=helvetica-normal 		HB=helvetica-bold 		HL=helvetica-light
HN(s=1em, w=500)
	font-family 'Helvetica'  !important
	font-size s  !important
	font-weight w

HB(s=1em, w=bold)
	font-family 'Helvetica-Bold' !important
	font-size s !important
	font-weight w
	
HL(s=1em, w=300)
	font-family 'Helvetica-Light'  !important
	font-size s  !important
	font-weight w

Otentic(s=1em, w=normal)
	font-family 'Otentic-Signature'
	font-size s
	font-weight w

NeueBold(s=1em, w=bold)
	font-family 'Helvetica-Neue-Bold'
	font-size s
	font-weight w

NeueLT(s=1em, w=100)
	font-family 'Helvetica-Neue-LT'
	font-size s
	font-weight w

NYPress(s=1em, w=normal)
	font-family 'HudsonNY-Press'
	font-size s
	font-weight w



	
footer
	background-color fondo-morado !important		
	*
		color blanco
		HL(14px)
	a:hover
		cursor pointer
		text-decoration underline
	ul
		+below(796px)
			padding-left 3px !important
		+below(600px)
			border-left 2px solid borde-celeste	
			padding-left 1rem !important
			margin 0
			li
				padding 5px 0
	.border
		border-left 2px solid borde-celeste
		padding-left 1rem
	.container
		padding 3rem 0
	.responsive-img
		max-width 350px
		margin 20px 0 40px 0
		width 90%
	.row
		margin 0	
		.col
			padding 0
	.white-text
		padding-left 0.5rem

h2
	color texto-morado
	HB(4.3em)
	
header.main-header
	background linear-gradient(rgba(gris,0.8), blanco)
	relative top left
	.home-header
		absolute top left
		flex-direction column
		height 100%
		justify-content center
		width 100%
		h1
			color blanco
			HL(2.7em)
			span
				color amarillo
		ul
			text-align center
			li
				display inline-block
				padding 0 1.5rem
				&:last-child
					padding 0 1rem
				a				
					color amarillo
					display inline-block !important
					HL(1.5em)
					text-align center
					img
						display block
						margin 5px auto
						max-width 125px
						&:hover
							transform: rotate(180deg)
							transition: all 0.5s linear
		.logo
			max-width 800px
			margin -10rem auto 5rem auto
			width 90%
		+below(992px)
			ul
				li					
					&:last-child
						padding 0 
					a
						font-size 1.2em
						img
							max-width 100px
			.logo
				margin -5rem auto 0 auto
		+below(675px)			
			justify-content flex-start
			position relative
			padding 8rem 0 10rem 0
			ul
				li		
					padding 0 0.5rem
					vertical-align top
					width 50%
					&:last-child
						padding 0 
					a
						font-size 1em
						img
							width 80px
			&.bg1
				background url('/img/bg1.jpg') rgba(texto-morado, 0.5)
				background-position center
				background-repeat no-repeat
				background-size cover	
			&.bg2
				background url('/img/bg2.jpg') rgba(texto-morado, 0.5)
				background-position center
				background-repeat no-repeat
				background-size cover	
			&.bg3
				background url('/img/bg3.jpg') rgba(texto-morado, 0.5)
				background-position center
				background-repeat no-repeat
				background-size cover	
		+below(600px)
			padding 2rem 0 10rem 0
			h1
				margin 0 auto			
			.logo
				margin 20px auto 0 auto
		+below(440px)
			padding 2rem 0 12rem 0
			ul
				li
					padding 0 
					text-align left 
					width 90%
					a
						font-size 1.5em
						text-align left
						width 100%
						img
							display inline-block
							vertical-align middle
							width 55px
	> img
		height auto
		width 100%
		+below(675px)
			display none
	.menu-bg
		absolute top right 10px
		display flex
		flex-direction column
		height 100%
		justify-content center
		width 10px
		span			
			border 1px solid blanco
			border-radius 50%
			display block
			height 10px
			margin 0 0 10px 0 
			width 10px
			&.active
				background-color blanco	
			&:hover
				cursor pointer
		+below(600px)
			display none
	.visible
		visibility hidden

header.header-in
	height 150px !important			
	ul
		li
			a
				color texto-morado-2
				line-height 130px
				HB(1em)
				&.active
					color amarillo
				+below(992px)
					line-height 50px
	nav
		height 150px !important
	.brand-logo
		align-items flex-end
		display flex !important	
		height 70%
		img
			min-width 220px
			width 100%
	.container-nav
		height 130px
		margin 0 auto
		padding-top 20px
		width 80%
	.sidenav-trigger		
		i
			color texto-morado-2 !important
			margin-top 20px
	+below(1030px)
		.brand-logo
			img
				width 95%
	+below(992px)
		.container-nav
			height 100px
	+below(600px)
		.container-nav
			height 90px
			width 98%

.about-info
	HN(1.3em)
	padding-top 3rem
	+below(600px)
		font-size 1.2em !important
		padding-top 1rem

.about-p
	color gris
	display inline-block
	font-size 1.1em
	margin-bottom 0
	max-width 650px
	padding 1rem 2rem 0 2rem
	relative top left
	text-align justify
	width 100%
	z-index 10
	&.line
		margin-top 3rem
		&::before
			color #fff
			border-left 2px solid rgba(gris,0.3)
			content ''
			height 80px
			left 2px
			position absolute
			top 1rem
	+below(992px)
		&.line
			margin-top 0
	
.about-working	
	relative top -3rem left
	img
		max-width 100%
	p
		font-size 1.5em !important
		margin-top 0 !important
	.row
		margin 0
		.col
			align-items center
			display flex
			min-height 300px
			justify-content center
	+below(600px)
		padding 1.5rem 0
		top 0
		p
			font-size 1.2em !important
		.col
			min-height auto !important

.address-cont
	a
		color texto-morado-2
		HN(1em)
	p
		color texto-morado
		HL(1.1em)
		margin-top 0
		max-width 170px
		width 100%
	.address
		color gris
		HN(1em)
		[itemprop=image],[itemprop=priceRange],[itemprop=description]
			display none	
		h1
			HN(1em)
			margin 0 0 3px 0

.art
	background url(../img/code.jpg) rgba(texto-morado, 0.5)
	background-position center
	background-repeat no-repeat
	background-size cover	
	display flex	
	justify-content center
	margin-top 5rem
	text-align center
	+below(1300px)
		margin-top 0
	*
		text-rendering geometricPrecision !important
		-webkit-font-smoothing antialiased !important
		-moz-osx-font-smoothing grayscale !important
	.valign-wrapper
		color blanco
		flex-direction column
		font-size 14px
		height 600px
		justify-content center
		max-width 900px
		width 100%
		*
			line-height 1.2
		div
			align-items center
			display flex			
			height 100px
			justify-content flex-end
			margin-left 5%
			width 90%
			z-index 5
			+below(992px)
				align-self center
				justify-content center
				width 100%
			+below(600px)
				height 130px
				margin-left 0
				padding-left 5px
			div
				background url(../img/bg.png)
				background-position center
				background-repeat no-repeat
				background-size 100% auto
				height 400px
				+below(600px)
					background-size 150% auto					
		.helv
			NeueLT(3.5em)
			&.shape
				align-self flex-end 
				font-size 4.5em !important
				padding 0 15px 10px 15px
				+below(992px)
					align-self center
				+below(600px)
					font-size 2.5em !important
		.helvBold
			color amarillo
			NeueBold(2.4em)
			+below(992px)
				font-size 2em
		.ny
			align-self flex-start
			NYPress(5.43em)
			padding 0 15px 20px 15px
			+below(992px)
				align-self center
			+below(600px)
				font-size 4em !important
				width 100%
		.otentic			
			Otentic(10em)	
			margin 0 0 0 30px
		.shape
			background-color rgba(fondo-shape,0.8)
			z-index 1
	
.bg-gray 
	background-color gris-fondo
	
.bg-shape-1
	margin 0
	relative top -6rem left
	z-index 1
	+below(992px)
		top -4rem
	+below(600px)
		background url(../img/about-2-bg.jpg) rgba(texto-morado, 0.5)
		background-position center
		background-repeat no-repeat
		background-size cover
		height 180px
		top 0
		img
			display none
	/*background url(../img/about-2.jpg) rgba(texto-morado, 0.5)
	background-position center
	background-repeat no-repeat
	background-size cover*/


.bg-text
	background-color gris-fondo
	height 80px
	p
		color gris
		HN(1.5em)
		max-width 420px
		relative top 40px left
		width 100%
	+below(992px)
		height auto !important
		p
			top 0
	+below(600px)
		p
			top 0
		.text-g
			border none 
			padding 0 2rem 0 2rem 
			text-align center 
			a
				display inline-block
				relative top left
				&:hover
					cursor pointer

.deformed-p
	background-color amarillo	
	color blanco	
	display block
	max-width 350px
	relative top left
	transform skewY(-7deg)
	z-index 10
	span
		display inline-block		
		padding 4rem 1.5rem
		transform skewY(7deg)
	+below(600px)
		margin 25px auto
		max-width none
		transform skewY(0)
		width 100%
		span
			transform skewY(0)
		

.hello
	margin 0
	label
		color texto-morado-2 !important
		display inline-block
		HB(1.5em)
		margin-bottom 1rem
	
.internal-pages
	background-position center
	background-repeat no-repeat
	background-size cover
	height 410px
	justify-content center
	width 100%
	&.services
		background url(../img/services-1.jpg) rgba(texto-morado, 0.5)
	&.about
		background url(../img/about-1.jpg) rgba(texto-morado, 0.5)
	+below(600px)
		height 300px
	h1
		color blanco
		HB(3.5em)

.map
	height 600px
	#map
		height 100%
		width 100%

.section-contact
	+below(600px)
		h2
			font-size 3em !important
	
.services-list
	h2
		color gris
		HN(1.3em)
		text-align center
		span			
			display block
			margin 0 auto
			padding-top 10px
			&.line			
				border-bottom 2px solid rgba(gris,0.8)
				padding 0 0 10px 0 !important
				width 80px
	.container
		padding-top 1rem
		.bg-services-purple
			background-color texto-morado
		.bg-services-yellow
			background-color amarillo
		.bg-services-aqua
			background-color aqua
		.bg-services-gray
			background-color gris
		.bg-services-grape
			background-color uva
		.bg-services-purple-2
			background-color morado
		.col
			align-items center
			display flex
			height 290px
			p
				color blanco
				HN(1.1em)
				margin 0 auto
				text-align justify
				width 90%
		.xl4
			background-position center
			background-repeat no-repeat
			background-size cover
			color blanco
			HB(2.5em)
			justify-content flex-start
			&.cloud
				background url(../img/cloud.jpg) rgba(amarillo, 0.5)			
			&.infra
				background url(../img/infra.jpg) rgba(aqua, 0.5)			
			&.secure
				background url(../img/secure.jpg) rgba(morado, 0.5)			
			&.incident
				background url(../img/incident.jpg) rgba(gray, 0.5)			
			&.training
				background url(../img/training.jpg) rgba(uva, 0.5)			
			&.os
				background url(../img/os.jpg) rgba(morado, 0.5)			
			+below(600px)
				justify-content center
		.xl8
			justify-content center
			+below(600px)				
				height auto 
				padding 1.5rem 0
	+below(600px)
		.row
			box-shadow 3px 3px 10px 1px rgba(gris, 0.5)



.social-icon
	background url(../img/social.png)
	background-repeat no-repeat	
	display inline-block
	height 100%
	width 100%
	&.fb
		background-position 0 0		
	&.tw
		background-position 0 -30px
.social-list
	margin 10px 0 0 0
	max-width 100%
	padding 0	
	width 100%
	li
		display block
		height 28px
		margin 0 0 10px 0
		padding 0
		width 28px
		+below(600px)
			display inline-block
			margin 0 20px 10px 0

.text-g	
	border-left 2px solid borde-gris
	padding 2rem	
	relative top left
	z-index 20
	a
		absolute bottom -50px left 2rem
		background-color amarillo
		border-radius 30px
		color blanco
		display block
		font-size 500
		padding 4px 0		
		text-align center
		text-decoration none
		width 150px

.top
	padding-bottom 2rem
	.col
		relative top -7rem left	
		p
			color gris
			HN(1.3em)
			max-width 850px
			relative top 40px left
			text-align justify
			width 100%
		+below(600px)
			top -1rem

.what-we-do
	padding-bottom 1rem
	.row
		margin 0
	.bg-wwd		
		height 500px
		+below(600px)
			height 180px
	.bg-wwd-2
		background url(../img/pc.png) blanco
		background-position 0 0
		background-repeat no-repeat
		background-size 100% auto
		height 720px
		relative top left
		img
			absolute top left			
			height 99%
			width 100%
		+below(1100px)
			height 600px
		+below(992px)
			background-position 0 top
		+below(850px)
			height 420px
		+below(600px)
			height 300px
		+below(400px)
			height 200px
	+below(600px)
		h2
			margin-bottom 0
		.text-g.home 	
			border none
			margin-top 0
			padding 0
			text-align center
			width 100%
			a				
				display inline-block
				relative top left
		
#form-contact
	button
		background-color transparent
		border none 
		color texto-morado-2
		HB(1.2em)
		i
			color amarillo
			vertical-align middle
		+below(600px)
			display block
			font-size 1.5em !important
			margin 0 auto
			i
				font-size 1.5em !important
		&:hover
			cursor pointer

#main
	box-shadow 0 0 10px 1px rgba(gris, 0.3)
	margin 0 auto
	max-width 1500px
	min-width 350px
	overflow hidden



// Materialize 
/* label focus color */
.input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label {
color: texto-morado !important;
font-family: 'Open Sans', sans-serif !important;
}
.input-field label {
font-family: 'Open Sans', sans-serif !important;
}
/* label underline focus color */
.input-field input[type=text]:focus,.input-field input[type=email]:focus {
border-bottom: 1px solid texto-morado !important;
box-shadow: 0 1px 0 0 texto-morado !important;
}